<!-- app/views/grades/select_subject.html.erb -->

<h1>Seleccione una Materia</h1>

<%= form_tag(select_grade_type_grades_path, method: :get) do %>
  <div class="form-group">
    <%= label_tag 'subject_id', 'Materia:' %>
    <%= select_tag 'subject_id', options_for_select(@subjects.map { |subject| [subject.name, subject.id] }), include_blank: 'Seleccione una materia' %>
  </div>

  <%= hidden_field_tag 'course_id', @course.id %>

  <%= submit_tag 'Continuar', class: 'btn btn-primary' %>
<% end %>
