<!-- app/views/students/edit.html.erb -->

<h1>Editar Estudiante</h1>

<%= form_with(model: @student, local: true) do |form| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, 'error') %> prohibieron que este estudiante sea actualizado:</h2>

      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identification_number %>
    <%= form.text_field :identification_number %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ['Male', 'Female', 'Other'] %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Present', 'Not present'] %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.select :course_id, options_from_collection_for_select(Course.all, :id, :name), include_blank: true %>
  </div>

  

  <div class="actions">
    <%= form.submit 'Actualizar Estudiante', class: 'btn btn-primary' %>
    <%= link_to 'Volver al Listado', students_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
