<h1>Welcome to Your Dashboard</h1>

<div class="card">
    <span class="material-symbols-outlined " style="font-size: 90px;">
        group
    </span>
    <h2><b>Estudiantes<b></h2>
  <p>Cantidad: <%= @student_count %></p>
</div>

<div class="card">
    <span class="material-symbols-outlined" style="font-size: 90px;">
        groups
    </span>
  <h2><b>Docentes<b></h2>
  <p>Cantidad: <%= @teacher_count %></p>
</div>

<div class="card">
    <span class="material-symbols-outlined" style="font-size: 90px;">
        school
    </span>
  <h2><b>Cursos<b></h2>
  <p>Cantidad: <%= @course_count %></p>
</div>

<div class="card">
    <span class="material-symbols-outlined" style="font-size: 90px;">
        News
    </span>
  <h2><b>Noticias<b></h2>
  <p>Cantidad: <%= @course_count %></p>
</div>

<div class="card">
    <span class="material-symbols-outlined" style="font-size: 90px;">
        description
    </span>
  <h2><b>Materias<b></h2>
  <p>Cantidad: <%= @course_count %></p>
</div>
