<h1>Noticias</h1>

<%= link_to 'Nueva Noticia', new_news_path, class: 'btn btn-primary' %>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.date.strftime('%d/%m/%Y') %></td>
        <td>
          <%= link_to 'Ver detalles', news, class: 'btn btn-info' %>
          <%= link_to 'Editar', edit_news_path(news), class: 'btn btn-warning' %>
          <%= link_to 'Eliminar', news, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


