<h1>Materias</h1>

<%= link_to 'Nueva Materia', new_subject_path, class: 'btn btn-primary' %>

<hr>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Curso</th>
      <th>Docente</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.course.name %></td>
        <td><%= subject.teacher.full_name %></td>
        <td>
          <%= link_to 'Editar', edit_subject_path(subject), class: 'btn btn-warning'%>
          <%= link_to 'Eliminar', subject, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



