<div class="content-view">
  <h1>Editar Profesor</h1>
  <hr>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <%= form_with(model: @teacher, local: true) do |form| %>
              <% if @teacher.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@teacher.errors.count, 'error') %> prohibieron que este profesor sea actualizado:</h2>
                  <ul>
                    <% @teacher.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <%= form.label :identification_number, class: "form-label" %>
                <%= form.text_field :identification_number, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :first_name, class: "form-label" %>
                <%= form.text_field :first_name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :last_name, class: "form-label" %>
                <%= form.text_field :last_name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :middle_name, class: "form-label" %>
                <%= form.text_field :middle_name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :gender, class: "form-label" %>
                <%= form.select :gender, ['Male', 'Female', 'Other'], {}, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :date_of_birth, class: "form-label" %>
                <%= form.date_field :date_of_birth, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :address, class: "form-label" %>
                <%= form.text_field :address, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :status, class: "form-label" %>
                <%= form.select :status, ['Present', 'Not present'], {}, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :email, class: "form-label" %>
                <%= form.email_field :email, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :profession, class: "form-label" %>
                <%= form.text_field :profession, class: "form-control" %>
              </div>

              <div class="actions d-grid gap-2 d-md-block" style="margin-top: 15px;">
                <%= form.submit 'Actualizar Datos', class: 'btn btn-success' %>
                <%= link_to 'Volver', teachers_path, class: 'btn btn-secondary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>