<div class="content-view">
  <h1>Listado de Profesores</h1>
  <hr>
  <div style="margin-bottom: 15px;">
    <%= link_to 'Crear Nuevo Profesor', new_teacher_path, class: 'btn btn-primary' %>
  </div>

  <table class="table text-center table-hover">
    <thead>
    <tr>
      <th>Cédula de Identidad</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha de Nacimiento</th>
      <th>Dirección</th>
      <th>Estado</th>
      <th>Correo</th>
      <th>Profesión</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.identification_number %></td>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.middle_name %></td>
        <td><%= teacher.date_of_birth %></td>
        <td><%= teacher.address %></td>
        <td><%= teacher.status %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.profession %></td>
        <td>
          <%= link_to 'Editar', edit_teacher_path(teacher), class: 'btn btn-warning' %>
          <%= link_to 'Desactivar', update_status_teacher_path(teacher), method: :patch, class: 'btn btn-danger', data: { confirm: '¿Cambiar estado del profesor?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>